@font-face { font-family: MontSerratBlack; src: url('../fonts/montserrat-black.ttf'); } 
 

:root {
    --gray: #e4e3e3;
    --dinari-dark:#232323;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../imgs/pano-bg.png);
    filter: opacity(.5);
    background-size: cover;
  }



* {
    font-family: 'Montserrat', sans-serif;   
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    height: 10vh;
    width: 100%;
    font-weight: 600;
    position: fixed;
    z-index: 500;
}
header > div{
    height: inherit;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.537);
    -webkit-box-shadow: 0px 6px 33px -8px rgb(156 156 156 / 75%);
    backdrop-filter: blur(9px);

}

.fw-bolder {
    font-weight: bolder;
    font-family: MontSerratBlack;
}

.fw-bold {
    font-weight: bold;
}

.main-bg{
    height:100vh;
}

.fw-regular {
    font-weight: normal;
}

.fw{
    font-weight: lighter;
}

.bg-gray{
    background-color: var(--dinari-dark);
}

      .timeline {
            --timeline-before: 0;
            --timeline-opacity: 0;
            --scale:0;

        }

        body{
            overflow-x: hidden;
        }

        .min-container{
            max-width: 95%;
            margin: 0 auto;
        }

        .min-container-alt{
            max-width: 90%;
            margin: 0 auto;
        }
        
        .min-container.about-us{
            border-radius: 50px 50px 0 0;
        }

        .blurried-back{
            -webkit-box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.75);
box-shadow: 0px 6px 46px -7px rgba(0,0,0,0.75);
        }

        .overlayed-about-us{
            height: 350px;
            border-radius: 50px;
            transform: translate(0, -150px);
            padding:0 20%;
        }


        .timeline.text-white:before {
            top: 50px;
            content: '';
            position: absolute;
            color: white;
            left: -13.5px;
            background: white;
            width: 6px;
            height: var(--timeline-before);
            border-radius: 12px;
        }

        .timeline.text-white:after {
            
            
            border-radius: 20px;
            top: 32px;
            content: '';
            position: absolute;
            color: white;
            left: -25px;
            background: white;
            width: 30px;
            height: 30px;
        }

        .timeline2.text-white:after {
            
            width: 30px;
    border-radius: 20px;
    top: 35px;
    content: '';
    position: absolute;
    color: white;
    left: -38px;
    height: 30px;
    background: white;
    opacity: var(--timeline-opacity);
            

        }






.feature-leading{
    padding: 76px 120px 76px 120px;
    border-radius: 120px;
    background-color: var(--dinari-dark);
}

.feature-item {
    background-color: white;
    height: 150px;
    max-width: 420px ;
    border-radius: 50px;
    margin: 0 auto;
}

.about-us-timeline{
    transform: translate(0, -115px);
}

.dark-glass{
    /* From https://css.glass */
background: rgb(255, 255, 255)    ;
border-radius: 100px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(189, 175, 175, 0.32);
z-index: 5;
}


.how-it-works{
    position: relative;
    top: 220px;
}

.z-10{
    z-index: 10;
}

.hover-up:hover{
    transform: translate(0, -5px);
    z-index: 55;
    transition: 400ms;
}
.hover-up:not(:hover){
    transform: translate(0, 0px);
    transition: 200ms;
}

.feature-item:nth-child(1){
    transform: translate(5%, 0);
}
.feature-item:nth-child(3){
    transform: translate(5%, 0);
}

.hiw-leading{
    height: 230px;
    padding: 0 20%;
    background-color: var(--gray);
    width: 90%;
    border-radius: 90px;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 119px;
    mix-blend-mode: difference;
}

.about-us-timeline{
    border-radius: 00px;
}

.hiw-questions-holder {
    padding: 30px 24% 100px 10%;
    background-color: var(--gray);
    width: 90%;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.question:after{
    content: url(../imgs/step-arrow.svg);
    position: absolute;
    right: -45px;
    top: 0;
    /* height: 75px; */
    width: 24px;
}


.form-bg {
    background-color: #E9E9E9;
}


input {
    width: 100%;
    height: 70px;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid transparent;
    background-color: #D2D2D2;
    margin: 5px;
}



input:focus-visible{
    outline: none;
}

button.submit-btn{
    width: 100%;
    height: 70px;
    background-color: #232323;
    border: transparent;
    margin: 5px;
    border-radius: 30px;
}

.scroll-down{
    animation: 3s infinite scroll-down;
}

@keyframes scroll-down {
    0%   {transform: translate(0,0px);}
    50%  {transform: translate(0,-5px);}
    100% {transform: translate(0,0px);}
  }
  
  .timeline .h2, .timeline2 .h2 {
    font-size: 3rem !important;
  }

  .timeline p, .timeline2 p {
        font-size: 1.4rem;
    font-weight: 400;
  }

  .form-top{
    z-index: 7; 
    border-radius: 130px;
    height: 445px; 
    margin-top: -10px;
  }

  .form-self{
    top: -115px;
    z-index: 6;
    border-radius: 0 0 50px 50px;
    padding-bottom: 50px;
  }

  .form-self > form{
    z-index: 55; padding-top: 100px;
  }

.hiw-container{
    height: 800px;
}

@media (max-width:768px) {
    .m-max-100{
        max-width: 100% !important;
    }

    .m-max-90{
        max-width: 90% !important;
    }

    .hiw-container{
        height: auto;
    }

    .form-top{
        z-index: 5;
        top: -100px;
        height: 285px;
        border-radius: 50px 50px 0 0;
        padding: 0 10%;
    }

    .question:after {
        content: url(../imgs/step-arrow.svg);
        position: absolute;
        right: -45px;
        top: 0;
        /* height: 75px; */
        width: 18px;
    }

    .hiw-leading {
        transform: translate(0px, 0px);
        height: 230px;
        padding: 0 16%;
        background-color: var(--gray);
        width: 90%;
        border-radius: 90px 90px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: sticky; */
        /* top: 119px; */
        /* mix-blend-mode: difference; */
    }

    .hiw-questions-holder {
        padding: 30px 24% 100px 10%;
        background-color: var(--gray);
        width: 90%;
        border-radius: 0 0 90px 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .about-us-timeline {
        transform: translate(0, 0px) !important;
    }

    .overlayed-about-us{
        height: 350px;
        border-radius: 50px;
        transform: translate(0, 0px) !important;
        padding: 0 10%;
    }
        
}

